@import '../../../scss/variable';

.tag-btn {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  &:hover, &:active, &:focus {
    border-color: #e2e2e2;
    background-color: #e2e2e2;
  }
}

.trip {
  &-img {
    object-fit: cover;

    &.sub {
      cursor: pointer;
    }
  }

  &-description {
    white-space: pre-line;
    line-height: 1.2rem;
  }
}