.share-btn, .search-btn {
  &:hover, &:active, &:focus {
    border-color: #e2e2e2;
    background-color: #e2e2e2;
  }
}

.search-wrapper {
  .bi-x-lg {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}